{{ define "main" }}
  <div class="post">
    <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <div class="post-meta">
      {{ with .Date | default nil }}
      {{ end }}
      {{ with .Params.Author }}<span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>{{ end }}
      {{ if $.Site.Params.ShowReadingTime }}
        <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
      {{ end }}
    </div>

    <div class="post-content">
      <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      {{ .Content }}
    </div>

    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
    <span style="font-size: 0.7em;">
      {{ .Params.Footer | safeHTML}}
    </span>
  </div>
{{ end }}
