{{ define "main" }}
  <article>
    <h2>{{ .Title | markdownify }}</h2>
    {{ with .Date | default nil }}
      <span class="date">
        {{ .Format ($.Site.Params.DateFormatSingle) }}
      </span>
    {{ end }}

    {{ if .Params.Cover }}
      {{ if .Params.UseRelativeCover }}
        <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="post-cover" />
      {{ else }}
        <img src="{{ .Params.Cover | absURL }}" class="post-cover" />
      {{ end }}
    {{ end }}

    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="pagination">
      <div class="pagination__buttons">
          <span class="button previous">
            <a href="/skits">
              <span class="button__icon">←</span>
              <span class="button__text">Back to Skits</span>
            </a>
          </span>
      </div>
    </div>
  </article>
{{ end }}
