:root {
  --text-color: #c9d1d9;
  --secondary-text-color: #b6babe;
  --link-color: rgb(23, 191, 99);
  --background-color: rgb(3, 32, 57);
  --bright-blue: rgb(6, 106, 191);
  --desktop-font-size: 1.1rem/1.5;
  --mobile-font-size: 1.1rem/1.4;
  --page-width: 50rem;
  --font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--page-width);
  color: var(--text-color);
  background-color: var(--background-color);
  font: var(--desktop-font-size) var(--font-family);
}

header {
  max-width: var(--page-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.logo {
  height: 44px;
  vertical-align: middle;
  padding-right: 10px;
}

header h1 {
  display: flex;
  flex: 0 0 auto;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-color);
}

.header-hr {
  height: 8px;
  color: var(--background-color);
  background-image: linear-gradient(91.78deg, var(--bright-blue) 2.57%, var(--link-color) 96.33%);height: 8px;
}

.pagination__buttons {
  text-align: center;
}

.previous {
  margin-right: 20px;
}

.cover-container {
  width: 100%;
  overflow-y: hidden;
  max-height: 250px;
  border-radius: 20px;
  margin-bottom: 20px;
}

article {
  margin-bottom: 60px;
}

.post-title {
  font-size: 2.6rem;
  margin: 20px 0;
}

h2 a {
  color: var(--text-color);
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 0;
}

img {
  max-width: 100%;
}

.post-cover {
  border-radius: 20px;
  margin: 20px 0;
}

.date {
  color: var(--secondary-text-color);
  margin-bottom: 0;
}

ul.tags::before {
  content: "·";
  margin: 0 10px;
}

ul.tags {
  color: var(--secondary-text-color);
  padding-left: 0;
  opacity: 85%;
  margin: 0;
  display: inline-block;
}

.tags li {
  display: inline-block;
}

.tags li a {
  color: var(--secondary-text-color);
}

.tags li a::before {
  content: "#";
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.copyright {
  padding-bottom: 60px;
}

@media screen and (max-width: 50rem) {
  body {
    font: var(--mobile-font-size) var(--font-family);
  }

  header {
    display: block;
  }

  header h1 {
    margin-bottom: 0;
  }

  header nav ul {
    padding-left: 0;
    margin: 0;
  }
}

/* Archive SCSS */

.archive {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 0 auto;
}
.archive__group-month {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
@media (--phone) {
  .archive__group-month {
    flex-direction: column;
  }
}
.archive__group-month:not(:last-of-type) {
  border-bottom: 1px solid var(--light-border-color);
}
.dark-theme .archive__group-month:not(:last-of-type) {
  border-color: var(--dark-border-color);
}
.archive__group-year {
  margin-top: 40px;
}
@media (--phone) {
  .archive__group-year {
    margin-top: 20px;
  }
}
.archive__group-year:not(:last-of-type) {
  border-bottom: 1px solid var(--light-border-color);
}
.dark-theme .archive__group-year:not(:last-of-type) {
  border-color: var(--dark-border-color);
}
.archive__group-year-header {
  margin: 10px 0;
}
.archive__group-month-header {
  margin: 25px 0;
  width: 200px;
  opacity: 0.5;
}
@media (--phone) {
  .archive__group-month-header {
    margin: 10px 0 0;
  }
}
.archive__group-posts {
  width: 100%;
}
.archive__post {
  padding: 20px 0;
}
.archive__post:not(:last-of-type) {
  border-bottom: 1px solid var(--light-border-color);
}
.dark-theme .archive__post:not(:last-of-type) {
  border-color: var(--dark-border-color);
}
.archive__post-title {
  margin: 5px 0;
}
.archive__post-title a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}
.archive__post-title a:hover {
  text-decoration: underline;
}
