<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ block "title" . }}
      <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
    {{ end }}
    <link rel="stylesheet" href="{{ "assets/style.css" | absURL }}">
    <link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}">
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="canonical" href="{{ .Permalink }}" />
  </head>
  <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    <header>
      <a href="{{ $.Site.Params.Logo.LogoHomeLink }}">
        <h1>
          <img src="{{ $.Site.Params.Logo.path }}" alt="{{ $.Site.Params.Logo.alt }}" class="logo"/>
          JamesGecko
        </h1>
      </a>
      <nav>
        <ul>
          {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
            {{ if not .HasChildren }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </nav>
    </header>

    <hr class="header-hr">

    <main>
      {{ block "main" . }}
      {{ end }}
    <span class="copyright">{{ $.Site.Copyright }}</span>
    </main>
  </body>
</html>
