{{ define "main" }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    {{ range $paginator.Pages }}
    <div class="post on-list">
      <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>

      <span class="date">
        {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
      </span>
      {{ if .Params.tags }}
        <span class="tags">
          <ul class="tags">
            {{ range .Params.tags }}
            <li>
              <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
            </li>
            {{ end }}
          </ul>
        </span>
      {{ end }}

      {{ if .Params.Cover }}
        <div class="cover-container">
          {{ if .Params.UseRelativeCover }}
            <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="post-cover" />
          {{ else }}
            <img src="{{ .Params.Cover | absURL }}" class="post-cover" />
          {{ end }}
        </div>
      {{ end }}

      <div class="post-content">
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary | markdownify }}
          {{ end }}
        {{ end }}
      </div>
      <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a>
    </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
