{{ define "main" }}
  <article>
    <h2 class="post-title">{{ .Title | markdownify }}</h2>
    {{ with .Date | default nil }}
      <span class="date">
        {{ .Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
      </span>
    {{ end }}

    {{ if .Params.tags }}
      <ul class="tags">
        {{ range .Params.tags }}
        <li>
          <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
        </li>
        {{ end }}
      </ul>
    {{ end }}

    {{ if .Params.Cover }}
      {{ if .Params.UseRelativeCover }}
        <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="post-cover" />
      {{ else }}
        <img src="{{ .Params.Cover | absURL }}" class="post-cover" />
      {{ end }}
    {{ end }}

    {{ .Content }}
  </article>
{{ end }}
